* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Estilos scroll bar none */
body::-webkit-scrollbar {
    --webkit-appearance: none;
}

/* Estilos barra scroll vertical y horizontal*/
body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

/* Botones y carril */
body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

/* Almohadilla de la barra de scroll*/
body::-webkit-scrollbar-thumb {
    background: #ACD9B2;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}