@import 'vars';

.Nav {
    position: fixed;
    top: 0;
    display: flex;
    width: calc(100vw - 48px);
    height: 60px;
    padding: 0 24px;
    justify-content: space-between;
    background: $--white;
    border-bottom: 1px solid $--very-light-pink;
    box-shadow: 0 2px 4px rgba($color: black, $alpha: 0.5);
    z-index: 2;
}
.navbar-left {
    display: flex;
}
.menu{
    display: none;
    width: 25px;
}
.nav-logo {
    width: 100px;
    margin-right: 12px;
    cursor: pointer;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: $--very-light-pink;
    border: 1px solid $--white;
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid $--hospital-green;
}
.navbar-email {
    color: $--very-light-pink;
    font-size: $--sm;
    margin-right: 12px;
    cursor: pointer;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div{
    width: 16px;
    height: 16px;
    position: absolute;
    top: -6px;
    right: -3px;
    background-color: $--hospital-green;
    border-radius: 50%;
    font-size: $--sm;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 760px) {
    .menu {
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email {
        display: none;
    }
}