@import 'vars';

.login {
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .login-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50vh;
}
.login-container div {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.login .logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.login .form {
    display: flex;
    flex-direction: column;
}
.login .label {
    font-size: $--sm;
    font-weight: bold;
    margin-bottom: 4px;
}
.login .input {
    background-color: $--text-input-field;
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: $--md;
    padding: 6px;
    margin-bottom: 12px;
}
.login .input-email {
    margin-bottom: 22px;
}
.login .primary-button {
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    color: $--white;
    width: 100%;
    cursor: pointer;
    height: 50px;
    font-size: $--md;
    font-weight: bold;
}
.login .secondary-button {
    background-color: $--white;
    border-radius: 8px;
    border: 1px solid $--hospital-green;
    color: $--hospital-green;
    width: 100%;
    cursor: pointer;
    height: 50px;
    font-size: $--md;
    font-weight: bold;
    margin-bottom: 20px;
}
.login .login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
.login .form a {
    color: $--hospital-green;
    font-size: $--sm;
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
@media (max-width: 640px) {
    .login .logo {
        display: block;
    }
    .login-container {
        height: 100%;
        justify-content: space-between;
    }
}