@import 'vars';

.MyOrder {
    width: 360px;
    height: calc(100vh - 60px);
    padding: 0 24px 24px 24px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $--white;
    box-shadow: -2px 2px 4px rgba($color: #000000, $alpha: 0.5);
    top: 60px;
    right: 10px;
    z-index: 2;
}

.MyOrder .primary-button {
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    color: $--white;
    width: 100%;
    cursor: pointer;
    height: 50px;
    font-size: $--md;
    font-weight: bold;
}

.MyOrder-content {
    padding-right: 10px;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Estilos scroll bar none */
.MyOrder-content::-webkit-scrollbar {
    --webkit-appearance: none;
}

/* Estilos barra scroll vertical y horizontal*/
.MyOrder-content::-webkit-scrollbar:vertical {
    width: 10px;
}

.MyOrder-content::-webkit-scrollbar:horizontal {
    height: 10px;
}

/* Botones y carril */
.MyOrder-content::-webkit-scrollbar-button:increment,
.MyOrder-content::-webkit-scrollbar-button {
    display: none;
}

/* Almohadilla de la barra de scroll*/
.MyOrder-content::-webkit-scrollbar-thumb {
    background: $--hospital-green;
    border: 2px solid $--white;
    border-radius: 20px;
}

.MyOrder-content::-webkit-scrollbar-track {
    border-radius: 10px;
}


.title-container {
    display: flex;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.title {
    font-size: $--lg;
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: $--text-input-field;
    margin: 20px 0 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:first-child {
    display: flex;
    flex-direction: column;
}

.order p:last-child {
    text-align: end;
    font-weight: bold;
}

.order p span {
    font-weight: bold;
    font-size: $--md;
}

@media (max-width: 640px) {
    .MyOrder {
        width: 100%;
    }
}