@import 'vars';

.OrderItem {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.OrderItem figure{
    margin: 0;
}
.OrderItem figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;

}
.OrderItem p:nth-child(2){
    color: $--very-light-pink; 
}
.OrderItem p:nth-child(3){
    font-size: $--md;
    font-weight: bold;
}

.OrderItem-close {
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    background: $--hospital-green;
    overflow: hidden;
    border-radius: 50%;
}

.OrderItem .OrderItem-close span img {
    width: 10px !important;
    height: 10px !important;
    filter: invert(100%);
}

.OrderItem-close:hover {
    cursor: pointer;
}

