@import 'vars';

.ProductList-container {
    margin: 100px auto 50px;
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

@media (max-width: 640px) {
    .ProductList-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
}