@import 'vars';

.ProductInfo {
    min-width: 312px;
    width: 20vw;
    margin: 24px auto 24px;
    place-self: center;
}
.ProductInfo p:first-child {
    font-weight: bold;
    font-size: $--md;
    margin-bottom: 4px;
    margin-top: 0;
}
.ProductInfo p:nth-child(2) {
    color: $--very-light-pink;
    font-size: $--md;
    margin-bottom: 36px;
    margin-top: 0;
}
.ProductInfo p:nth-child(3){
    color: $--very-light-pink;
    font-size: $--sm;
    margin-bottom: 36px;
    margin-top: 0;
}
.ProductInfo .primary-button {
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    color: $--white;
    width: 312px;
    cursor: pointer;
    height: 50px;
    font-size: $--md;
    font-weight: bold;
    margin: 0 auto;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content:center ;
}