@import 'vars';

.SendEmail {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.SendEmail-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.SendEmail .logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.SendEmail .title {
    font-size: $--lg;
    margin-bottom: 12px;
    text-align: center;
}
.SendEmail .subtitle {
    color: $--very-light-pink;
    font-size: $--md;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.SendEmail .email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $--text-input-field;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.SendEmail .email-image img {
    width: 80px;
}
.SendEmail .resend {
    font-size: $--sm;
}
.SendEmail .resend span {
    color: $--very-light-pink;
}
.SendEmail .resend a {
    color: $--hospital-green;
    text-decoration: none;
}
.SendEmail .primary-button {
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    color: $--white;
    width: 100%;
    cursor: pointer;
    height: 50px;
    font-size: $--md;
    font-weight: bold;
}
.SendEmail-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px) {
    .SendEmail .logo {
        display: block;
    }
}